<div class="group-container btn-group btn-group-toggle" data-toggle="buttons">
  <div class="multi-button">
    <button class="fs15 btn btn-primary" (click)="addMapAnnotation('Polygon')">Polygon</button>
    <button class="fs15 btn btn-primary" (click)="addMapAnnotation('LineString')">LineString</button>
    <button class="fs15 btn btn-primary" (click)="addMapAnnotation('Point')">Point</button>
    <button class="fs15 btn btn-primary" (click)="addMapAnnotation('Pins')">Pins</button>
    <button class="fs15 btn btn-primary" (click)="addMapAnnotation('Cluster')">Cluster</button>
  </div>
</div>

